.css-m2z4y0{
    justify-items: center;
}

.box2 {
    margin-bottom: 20px;
    margin-right: 20px;
}

img {
    max-width: 1903px;    
}



form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.MuiOutlinedInput{
    padding: 80px 80px;
}

.css-1sumxir{
    position: fixed!important;
}

.css-1t8l2tu{
    height: 5rem;
}

input{
    width: 400px!important;
    margin-top: 10px!important;
    padding-bottom: 20px!important;
    height: 2rem!important;
}

.formlogin{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 350px;
}

.textform{
    padding-bottom: 10px!important;
}

.MuiFormControl-root{
    padding-bottom: 30px!important;
}

.css-178yklu {
    margin-bottom: 200px;
}

.profil{
    margin-left: 700px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.btn-inscription{
    margin-left: 430px;
    margin-bottom: 280px;
}

.btn-accueil{
    padding-top: 20px;
}

.Sign-inh4{
    padding-left: 140px;
}

.btn-login{
    margin-left: 215px;

}

.Login{
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 70px;
}

.Register{
    margin-bottom: 50px;
}

.Realty{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.Titlerealty{
    display: flex;
    justify-content: center;
}

.MuiTypography-h5{
    padding-left: 20px;
}

.textarea{
    margin-left: 26px;
    margin-top: 23px;
    margin-bottom: 25px;
}

.imgfooter{
    display:flex;
    justify-content: center;
    z-index: 999;
    
}

.footer {
    display: flex;
    justify-content: center;
   
    
}

.MuiContainer-root{
    padding-left: 0px !important;
}

.footer{
    background-image: url() ;
}